<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>About Me</h1>
        <nav>
            <a href="home.html">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <section>
        <h2>Who Am I?</h2>
        <p>I’m a web developer who loves creating projects and learning new technologies.</p>
       

      <img src="img45.jpeg" alt="Home Image" class="page-image" />

      <img src="img46.jpeg" alt="Home Image" class="page-image" />

      <img src="img47.jpeg" alt="Home Image" class="page-image" />
    </section>
</body>
</html>
