<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Contact Me</h1>
        <nav>
            <a href="home.html">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>

    <section>
        <h2>Get in Touch</h2>
        <p>Email: <a href="mailto:bhattji@example.com">bhattji@example.com</a></p>
        <p>Phone: +91 99999 99999</p>
       

      <img src="img43.jpeg" alt="Home Image" class="page-image" />
      <img src="img44.jpeg" alt="Home Image" class="page-image" />

      <img src="img45.jpeg" alt="Home Image" class="page-image" />

      <img src="img46.jpeg" alt="Home Image" class="page-image" />

      <img src="img47.jpeg" alt="Home Image" class="page-image" />
    </section>
</body>
</html>
