<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home Page</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
  <header>
    <h1>Welcome to My Website</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>

  <section>
    <h2>Hello!</h2>
    <p>
      This is my first webpage. Here you can learn more about me and my work.
    </p>
    <img src="/static/img/img41.jpeg" alt="Home Image" class="page-image" />
    <img src="/static/img/img42.jpeg" alt="Home Image" class="page-image" />

    <img src="/static/img/img43.jpeg" alt="Home Image" class="page-image" />
    <img src="img44.jpeg" alt="Home Image" class="page-image" />

    <img src="/static/img/img45.jpeg" alt="Home Image" class="page-image" />

    <img src="/static/img/img46.jpeg" alt="Home Image" class="page-image" />

    <img src="/static/img/img47.jpeg" alt="Home Image" class="page-image" />
  </section>
</body>

</html>